/* styles.css */
html {
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	font-style: italic;
}
ul {
	list-style-type: none;
	padding: 0px;
}
.int {
	font-style: italic;
	/*font-weight: bold; */
}
.cat {
	font-weight: bold;
}
.image {
	width: 300px;
	border: 1px solid #2ECC40;
}
#card {
	background-color: #3D9970;
	width: 300px;
	border: 1px solid #2ECC40;
	padding: 10px;
	box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.4);
}
#incard {
    width: 280px;
	border: 1px solid #2ECC40;
	padding: 10px;
}